 /* container and utilities */
 body{
     margin: 0;
     font-family: 'Poppins', sans-serif;
 }
 
 /* --------------
 Top Section style 
 ----------------*/

 .top{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     background-color: lightskyblue;
     
 }
 .top-heading{
       padding: 100px 100px;
 }
 
 .top-heading h1{  
     font-size: 64px;
 }
 .link{
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 2s ,trnslate 2s ;
 }
 .link:hover{
     transform:rotate(360deg) scale(1.5);
 }
 .link a{
     text-decoration: none;   
     color: #FFFFFF;    
}
.top-image{
    padding: 100px 0px 100px 40px;
}
 .top-image img{
    Width:556.01px;
    Height:438px;
 }

 /* player section Style */
 .players{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     
     margin: 70px 220px 0px 220px;
     
     
 }
 .player{  
    padding: 15px 15px 30px 15px;
    margin:10px 20px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15); 
 }
 .player img{
    height: 256px;
    width: 300px;
 }

 /* player voting  */
 .vote{
    background-color: lightskyblue;
    
 }
 .vote-player-heading{
     padding-top: 100px;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .vote-player{
     
     padding:50px 0px 50px 0px ;
 }
 .vote img{
     
     height: 100px;
     width: 200px;
      
 }

 .vote-player form{
     margin: 50px 100px 50px 100px;
 }
.player-select{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
form button{
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100px;
    
}

/* Match Shedule */

.match-shedule{
    background-color: rgb(182, 105, 206);
}

.calander{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.date  {
    height: 150px;
    width: 300px;
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
}

 /* footer style  */
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 158px;
    margin-bottom: 63px;
    
}
 .container img{
    width: 483.87px;
    height: 110px;
 }
 .container p{
     font-size: 18px;
 }
 .ficon i{
     background-color:lightgray;
     color: rgba(0, 0, 0, 0.897);
     font-size: 20px;
     padding:16px;
     border-radius: 32px;
 }

 /* media quary */

 @media only screen and (max-width:668px) {

    /* Top section media-quary  */

     .top{       
         width: 100%;
         display:flex;
         flex-direction: column;
         align-items: center;       
     }
     .top-heading{
        padding: 0px 50px ;
     }
     .top-image img{
         padding: 50px 0px ;
        Width :330px;
        Height:260px;    
     }
     
     /* Player Media-quary */

     .players{
        
         display: grid;
         grid-template-columns: repeat(1,1fr);
         justify-content: center;
         align-items: center;
     }

     /* Footer media-quary  */

     .container{
        width: 100%;
        display: flex;   
    }
    .container img{
        width: 300px;
        height: 90px;
    }
     
     
 }
 